.result-row {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr;
}

.box {
	width: 100%;
	height: 700px;
	overflow: scroll;
	position: relative;
	overflow-wrap: none;
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 10px #000000;

	.picture {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}
